.cart-wrapper{
    width:70%;
    margin:20px auto;
}

.cart-title{
    border-bottom: 1px solid #333;
    padding-bottom:5px;
}

.cart-item{
    displaY:flex;
    justify-content: space-between;
    align-items: center;
    padding:15px;
    box-shadow: 2px 2px 3px #c0c0c0c0;
margin:6px 0;

    img{
        width:80px;
        margin-right: 10px;
    }

    .cart-info{
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        flex:1
    }
    
}

.cart-footer{
    displaY:flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 0;

    .total{
        font-size: 25px;
    }
}

button{
                display:inline-block;
                
                border:0;
                background:#2a5ea5;
                color:#fff;
                padding:7px;
                border-radius: 6px;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                -ms-border-radius: 6px;
                -o-border-radius: 6px;
}

.checkout-form{
    position: fixed;
    bottom: 0;
    left:0;
    padding:30px;
    width:100%;
    background-color: #ddd;
    form{
        width:60%;
        margin: auto;
        >div{
            display: flex;
            flex-direction: column;
            padding: 10px;
            input{
                height: 40px;
                border:1px solid  #c0c0c0c0
            }
            button{
                height: 40px;
                cursor: pointer;
            }
        }
    }
    .close-icon{
        position: absolute;
        right:10 px;
        top:10 px;
        font-size: 20px;
        cursor: pointer;
    }
}